/*VARIABLES*/

/*Variables*/
$white:#fff;
$black:#000;
$red: #f00;
$grey:#f5f5f5;
$yellow-orange:yellow;
$primary-color: #bada55;
$font-size1: 3.125em;
$font-size2: 2.125em;
$text-color: blue;
$text-align: center;
